.homeHeader{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.flex-container{
    display: flex;
    flex-direction: row;
}
.left{
    width: 76%;
    margin: 16px;
}
.right{
    width: 24%;
    margin-top: 36px;
    margin-right: 26px;
    margin-left: 10px;
}

